= render "./layouts/theme"
.contents.clearfix
  = render "./layouts/contents-left"
  .contents__center
    .contents__center__main
      .contents__center__main__subject
        %p
          = icon("far", "newspaper", class: "icon", class: "article-icon")
          記事詳細
      .contents__center__main__articles
        .contents__center__main__articles__article
          .contents__center__main__articles__article__info
            .contents__center__main__articles__article__info__time
              = icon("far", "clock", class: "icon", class: "clock-icon")
              = simple_time(@article.created_at)
            .contents__center__main__articles__article__info__user-name
              = icon("fas", "user", class: "icon", class: "user-icon")
              = link_to @article.user.nickname, "/users/#{@user.id}"
            .contents__center__main__articles__article__info__category
              = icon("fas", "tag", class: "icon", class: "tag-icon")
              = @article.category.name
            - if @article.user_id == current_user.id
              .contents__center__main__articles__article__info__edit
                = link_to "編集", "/articles/#{@article.id}/edit"
              .contents__center__main__articles__article__info__destroy
                = link_to "削除" ,"/articles/#{@article.id}", method: :delete
            - if current_user.already_liked?(@article)
              .contents__center__main__articles__article__info__edit
                = link_to "いいね#{@article.likes.count}", article_like_path(@article), method: :delete
            -else
              .contents__center__main__articles__article__info__destroy
                = icon("fas", "thumbs-up", class: "icon", class: "iine-icon")
                = link_to "いいね#{@article.likes.count}", article_likes_path(@article), method: :post
                
                

          .contents__center__main__articles__article__title
            = @article.title
          .contents__center__main__articles__article__title.article-body
            = @article.body
          
        .contents__center__main__articles__article__commnets
          - if current_user
            .comment-label
              コメントを書く
            = form_for [@article, @comment] do |f|
              .comment-form
                = f.text_field :body, placeholder: "ここに記述", class: "comment-form"
              .comment-submit
                = f.submit "コメントをする", class: "btn"
              %h4.comment-list ＜コメント一覧＞
              - if @comments
                - @comments.each do |comment|
                  %p.comment-user-info
                    = comment.user.nickname
                    = comment.body



  = render "./layouts/contents-right"