= render "layouts/theme"
.contents
  = render "layouts/contents-left"
  .contents__center
    .contents__center__main
      .contents__center__main__subject
        %p
          = icon("fas", "sign-in-alt", class: "icon", class: "article-icon")
          ログイン
      .contents__center__main__articles
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          %label Eメールアドレス
          .contents__center__main__articles__article.signup-in-formarea
            = f.email_field :email, autocomplete: "email", placeholder: "例）nick@gamil.com", class: "signup-in-form"
          %label パスワード
          .contents__center__main__articles__article.signup-in-formarea
            = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "signup-in-form"
            
          .signup-in-submit
            = f.submit "ログイン", class:"btn"
  = render "layouts/contents-right"
